<div id="signUpWrapper">
   <div>
      <form action="/signupUser" method="POST" id="form-container">
         <h2>Signup</h2>

         <div>
            <label for="username">Username: </label><br>
            <input id="username" type="text" name="username" class="inputFieldSignUp">
         </div>
 
         <div>
            <label for="password">Password:</label><br>
            <input id="password" type="password" name="password" class="inputFieldSignUp">
         </div>
         
         <div>
            <label for="input-email"> Email: </label><br>
            <input type="email" id="input-email" name="email" class="inputFieldSignUp">
         </div>

         <div>
            <input type="checkbox" name="role" value="ADOPTER"  class="checkSignUp" id="contactChoice1" onclick="selectOnlyThis(this.id)" >
            <label for="contactChoice1">I want to adopt</label>

            <input type="checkbox"  name="role" value="SHELTER" class="checkSignUp" id="contactChoice2" onclick="selectOnlyThis(this.id)">
            <label for="contactChoice2">I am a shelter</label>
         </div>

         <div>
            <button type="submit" id="signUpButton">Create account</button>
         </div>
         
         <p class="account-message">
            Do you already have an account?
            <a href="/loginUser">Login</a>
         </p>

      </form>
      {{#if message}}
            <div class="error-message"><p>{{message}}</p></div>
      {{/if}}
   </div>
</div>

