<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <a href="/logout">Logout</a>
</header>


<div id="dogView">
  {{#each dog}}
    <a href="#">
      <div id="dogCard">
        <img src="{{this.image}}" alt="dog picture">
        <p>{{this.name}}</p>
      </div>
    </a>
  {{/each}}
</div>





 