<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <p>logout</p>
</header>

<div>
  <div></div>
  <div></div>
</div>

<h1>ARE YOU THERE{{user.username}}LALALA</h1>


 