<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <a href="/logout">Logout</a>
</header>


<div id="dogView">
  {{#if dog}}
  {{#each dog}}
    <a href="/dogDetails/{{this._id}}">
      <div id="dogCard">
        <img src="{{this.imageUrl}}" alt="dog picture">
        <p>{{this.name}}</p>
      </div>
    </a>
  {{/each}}
  {{else}}
    <h1>No dogs put up for adoption...</h1>
  {{/if}}
</div>




 