
<div id="homepageWrap">
  <div id="hompageChildWrap1">
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div id="hompageChildWrap2">
    <h1>Stop browsing, start loving!</h1>
    <p>Our mission is to bring home your newest furry family member as soon as possible. We believe that the only thing standing in your way are too many open tabs. Instead of browsing through pages of individual dog shelters, we offer shelters a platform to introduce their dogs to potential adopters.</p>
    <div id="homepageAncharWrap">
      <a href="/signupUser">Sign up </a>
      <a href="/loginUser">Login </a>
    </div>
  </div>
</div>

<footer id="homepageFooter"><p>Project made by Ana-Maria Garlau and Michael Raman. Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>. Photos from <a href="https://unsplash.com/">Unsplash</a>.</p></footer>
