
<div id="homepageWrap">
  <div id="hompageChildWrap1">
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div id="hompageChildWrap2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam delectus, et dolore placeat nisi nulla consectetur rerum accusamus quisquam beatae accusantium enim harum alias quaerat distinctio, nostrum cupiditate libero? Pariatur?</p>
    <div id="homepageAncharWrap">
      <a href="/signupUser">Sign up </a>
      <a href="/loginUser">Login </a>
    </div>
  </div>
</div>

<footer id="homepageFooter"><p>Project made by Ana-Maria Garlau and Michael Raman. Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>. Photos from <a href="https://unsplash.com/">Unsplash</a>.</p></footer>
