<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
</header>



<form action="/dogs" method="POST" enctype="multipart/form-data" id="creationForm">

  <div id="form-container">

    <h2>Put up a dog for adoption!</h2>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="inputFieldSignUp">
    </div>

    <div>
      <label for="age">Age in months</label>
      <input type="number" name="age" id="age" class="inputFieldSignUp">
    </div>

    <div>
        <label for="gender" class="selectLabel">Gender</label>
        <select name="gender" id="gender" class="selections">
          <option value="female">female</option>
          <option value="male">male</option>
        </select>

        <label for="size" class="selectLabel">Size</label>
        <select name="size" id="size" class="selections">
          <option value="small">small</option>
          <option value="middle">middle</option>
          <option value="large">large</option>
        </select>
    </div>

    <div>
      <label for="breed">Breed</label>
      <input type="text" name="breed" id="breed" class="inputFieldSignUp">
    </div>

    <div>
      <label for="image">Image</label>
      <input type="file" name="image" id="image" class="fileInput">
    </div>

    <div>
      <label for="description">Description</label><br>
      <textarea name="description" id="description" cols="45" rows="5" placeholder="Describe your doggo..."></textarea>
    </div>
    <button type="submit" id="createButton">Create dog</button>
  </div>
  {{#if message}}
    <div class="error-messageCreation"><p>{{message}}</p></div>
  {{/if}}
</form>

