<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
</header>

<div id="dogView">
  <a href="/private/profile/{{user._id}}" class="addDogA"><div class="addDog"><p>Your Profile</p></div></a>
  <a href="/dogs/all" class="addDogA"><div class="addDog"><p>See all dogs</p></div></a>
  <a href="/dogs" class="addDogA"><div class="addDog"><p>Add dog</p></div></a>
  <a href="/applications" class="addDogA"><div class="addDog"><p>Adoption <br> applications</p></div></a>
</div>











 
