

<h1> HI {{user.username}}</h1>



<a href="/logout">Logout</a>

<a href="/dogCreation">add a dog</a>

<a href="/profile">Update your profile</a>

<a href="/{{user._id}}">See all the dogs</a>

{{!-- view all dogs --}}
 {{!-- profile page --}}




 
