

<h1> HI {{user.username}}</h1>

<ul> 



<li><a href="/private/profile/{{user._id}}">Your Profile</a></li>

<li><a href="/dogs">add a dog</a></li>
<li><a href="/dogs/all">See all dogs</a></li>


<li><a href="/logout">Logout</a></li>


</ul>












 
