{{!-- <header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
</header> --}}

<div id="creationForm">

<form action="/private/profile" method="POST" id="form-container">

<h2>Welcome to our family!</h2>

<label for="name">Name of your organization</label>
<input type="text" name="name" id="name" class="inputFieldSignUp">

{{!-- Address --}}
<label for="street">Street</label>
<input type="text"name="street" id="street" class="inputFieldSignUp">

<label for="city">City</label>
<input type="text" name="city" id="city" class="inputFieldSignUp">

<label for="postcode">Postcode</label>
<input type="text" name="postcode" id="postcode" class="inputFieldSignUp">

<button type="submit" id="shelterButton">Submit</button>


</form> 

{{#if message}}
  <div class="error-message"><p>{{message}}</p></div>
{{/if}}

</div>